{{#if initial}}
import service from 'services';
import { {{properCase name}} } from './types';
{{/if}}


{{#if fetch}}
// Fetch
export async function fetch(props:  {{properCase name}}.ListingAPIPayload): Promise<{{properCase name}}.ListingResponse> {
  return service({
    method: '{{#if method}}{{method}}{{else}}GET{{/if}}',
    url: `{{path}}`,
	queryParams: props
  });
}
{{/if}}

{{#if detail}}
// Detail
export async function detail(props: {{properCase name}}.DetailAPIPayload): Promise<{{properCase name}}.DetailResponse> {
  return service({
    method: '{{#if method}}{{method}}{{else}}GET{{/if}}',
    url: `{{path}}`,
  });
}
{{/if}}

{{#if create}}
// Create
export async function create(
  props: {{properCase name}}.CreateAPIPayload,
): Promise<{{properCase name}}.CreateResponse> {
  return service({
    method: '{{#if method}}{{method}}{{else}}POST{{/if}}',
    url: `{{path}}`,
    body: props.data,
  });
}
{{/if}}

{{#if create_bulk}}
// Create Bulk
export async function createBulk(
  props: {{properCase name}}.CreateBulkAPIPayload,
): Promise<{{properCase name}}.CreateBulkResponse> {
  return service({
    method: '{{#if method}}{{method}}{{else}}POST{{/if}}',
    url: `{{path}}`,
    body: props.data,
  });
}
{{/if}}

{{#if update}}
// Update
export async function update(
  props:  {{properCase name}}.UpdateAPIPayload,
): Promise<{{properCase name}}.UpdateResponse> {
  return service({
    method: '{{#if method}}{{method}}{{else}}PATCH{{/if}}',
    url: `{{path}}`,
    body: props.data,
  });
}
{{/if}}

{{#if remove}}
// Remove
export async function remove(
  props: {{properCase name}}.RemoveAPIPayload,
): Promise<{{properCase name}}.RemoveResponse> {
  return service({
    method: '{{#if method}}{{method}}{{else}}DELETE{{/if}}',
    url: `{{path}}`,
  });
}
{{/if}}

{{#if remove_bulk}}
// Remove Bulk
export async function removeBulk(
  props: {{properCase name}}.RemoveBulkAPIPayload,
): Promise<{{properCase name}}.RemoveBulkResponse> {
  return service({
    method: '{{#if method}}{{method}}{{else}}POST{{/if}}',
    url: `{{path}}`,
    body: props.data,
  });
}
{{/if}}