
import {
  useMutation,
  UseMutationResult,
  useQuery,
  useQueryClient,
  UseQueryResult,
} from 'react-query';
import * as api from './api';
import { {{properCase name}} } from './types';


const KEY = '{{properCase name}}';

export function getKeyFromProps(
  props: any,
  type: "LISTING" | "DETAIL",
): string[] {
  const key = [KEY, type];
  key.push(props);
  return key;
}

{{#if fetch}}
// Fetch
export function use{{properCase name}}Listing(
  props: {{properCase name}}.ListingProps = {},
): UseQueryResult<{{properCase name}}.ListingResponse> {
  return useQuery(getKeyFromProps(props, 'LISTING'), () => api.fetch(props), {
  });
}
{{/if}}

{{#if detail}}
// Detail
export function use{{properCase name}}Detail(
  props: {{properCase name}}.DetailProps,
): UseQueryResult<{{properCase name}}.DetailResponse> {
  return useQuery(getKeyFromProps(props, 'DETAIL'), () => api.detail(props));
}
{{/if}}


{{#if create}}
// Create
export function use{{properCase name}}Create(
  props: {{properCase name}}.CreateProps={},
): UseMutationResult<
  {{properCase name}}.CreateResponse,
  {
    message?: string;
  },
  {{properCase name}}.CreateMutationPayload
> {
  const queryClient = useQueryClient();
  return useMutation((payload) => api.create({ ...props, data: payload }), {
    mutationKey: `${KEY}|Create`,
    onSuccess: () => {
      queryClient.invalidateQueries(getKeyFromProps(props, 'LISTING'));
    },
    retry: 0,
  });
}
{{/if}}

{{#if create_bulk}}
// Create Bulk
export function use{{properCase name}}CreateBulk(
  props: {{properCase name}}.CreateBulkProps = {},
): UseMutationResult<
   {{properCase name}}.CreateBulkResponse,
  {
    message?: string;
  },
  {{properCase name}}.CreateBulkMutationPayload
> {
  const queryClient = useQueryClient();
  return useMutation((payload) => api.createBulk({ ...props, data: payload }), {
    mutationKey: `${KEY}|CreateBulk`,
    onSuccess: () => {
      queryClient.invalidateQueries(getKeyFromProps(props, 'LISTING'));
    },
    retry: 0,
  });
}
{{/if}}


{{#if update}}
// Update
export function use{{properCase name}}Update(
  props: {{properCase name}}.UpdateProps,
): UseMutationResult<
  {{properCase name}}.UpdateResponse,
  {
    message?: string;
  },
  {{properCase name}}.UpdateMutationPayload
> {
  const queryClient = useQueryClient();
  return useMutation((payload) => api.update({ ...props, data: payload }), {
    mutationKey: `${KEY}|Update`,
    onSuccess: () => {
      queryClient.invalidateQueries(getKeyFromProps(props, 'LISTING'));
      queryClient.invalidateQueries(getKeyFromProps(props, 'DETAIL'));
    },
    retry: 0,
  });
}
{{/if}}

{{#if remove}}
// Remove
export function use{{properCase name}}Remove(): UseMutationResult<
  {{properCase name}}.RemoveResponse,
  {
    message?: string;
  },
  {{properCase name}}.RemoveMutationPayload
> {
  const queryClient = useQueryClient();
  return useMutation(
    (payload) => api.remove(payload),
    {
      mutationKey: `${KEY}|Remove`,
      onSuccess: (resp, payload) => {
        queryClient.invalidateQueries(getKeyFromProps(payload, 'LISTING'));
        queryClient.invalidateQueries(getKeyFromProps(payload, 'DETAIL'));
      },
      retry: 0,
    },
  );
}
{{/if}}


{{#if remove_bulk}}
// Remove Bulk
export function use{{properCase name}}RemoveBulk(): UseMutationResult<
   {{properCase name}}.RemoveBulkResponse,
  {
    message?: string;
  },
  {{properCase name}}.RemoveBulkMutationPayload
> {
  const queryClient = useQueryClient();
  return useMutation((payload) => api.removeBulk({ data: payload }), {
    mutationKey: `${KEY}|RemoveBulk`,
    onSuccess: (resp, payload) => {
      queryClient.invalidateQueries(getKeyFromProps(payload, 'LISTING'));
	  queryClient.invalidateQueries(getKeyFromProps(payload, 'DETAIL'));
    },
    retry: 0,
  });
}
{{/if}}
