{{#if initial}}
import { operations } from "../providerTypes";

export namespace {{properCase name}}{
{{/if}}
{{#if fetch}}
// Fetch
export type ListingProps = operations["{{operationId}}"]["parameters"]["query"];
export type ListingResponse = operations["{{operationId}}"]["responses"][{{codes.success}}]["content"]["application/json"];
export interface ListingAPIPayload extends ListingProps{};
{{/if}}

{{#if detail}}
// Detail
export type DetailProps = operations["{{operationId}}"]["parameters"]["path"];
export type DetailResponse = operations["{{operationId}}"]["responses"][{{codes.success}}]["content"]["application/json"];
export interface DetailAPIPayload extends DetailProps{};
{{/if}}

{{#if create}}
// Create
export type CreateProps = {};
export type CreateResponse = operations["{{operationId}}"]["responses"][{{codes.success}}]["content"]["application/json"];
export type CreateMutationPayload = operations["{{operationId}}"]["requestBody"]["content"]["application/json"];
export interface CreateAPIPayload extends CreateProps{
	data: CreateMutationPayload;
};
{{/if}}

{{#if create_bulk}}
// Create Bulk
export type CreateBulkProps = {};
export type CreateBulkResponse = operations["{{operationId}}"]["responses"][{{codes.success}}]["content"]["application/json"];
export type CreateBulkMutationPayload = operations["{{operationId}}"]["requestBody"]["content"]["application/json"];
export interface CreateBulkAPIPayload extends CreateBulkProps{
	data: CreateBulkMutationPayload;
};
{{/if}}

{{#if bulk}}
// Bulk
export type BulkCreateProps = {};
export type BulkCreateResponse = operations["{{operationId}}"]["responses"][{{codes.success}}]["content"]["application/json"];
export type BulkCreateMutationPayload = operations["{{operationId}}"]["requestBody"]["content"]["application/json"];
export interface BulkCreateAPIPayload extends BulkCreateProps{
	data: BulkCreateMutationPayload;
};
{{/if}}

{{#if update}}
// Update
export type UpdateProps = operations["{{operationId}}"]["parameters"]["path"];
export type UpdateResponse = operations["{{operationId}}"]["responses"][{{codes.success}}]["content"]["application/json"];
export type UpdateMutationPayload =  operations["{{operationId}}"]["requestBody"]["content"]["application/json"];
export interface UpdateAPIPayload extends UpdateProps{
	data: UpdateMutationPayload;
};
{{/if}}

{{#if remove}}
// Remove
export type RemoveProps = {};
export type RemoveResponse = operations["{{operationId}}"]["responses"][{{codes.success}}]["content"]["application/json"];
export type RemoveMutationPayload = operations["{{operationId}}"]["parameters"]["path"];
export interface RemoveAPIPayload extends RemoveProps, RemoveMutationPayload{};
{{/if}}

{{#if remove_bulk}}
// Remove Bulk
export type RemoveBulkProps = {};
export type RemoveBulkResponse = operations["{{operationId}}"]["responses"][{{codes.success}}]["content"]["application/json"];
export type RemoveBulkMutationPayload = operations["{{operationId}}"]["requestBody"]["content"]["application/json"];
export interface RemoveBulkAPIPayload extends RemoveBulkProps{
	data: RemoveBulkMutationPayload;
};
{{/if}}

{{#if end}}
}
{{/if}}




