{{#if initial}}
export namespace {{properCase name}}{
{{/if}}
{{#if fetch}}
// Fetch
export type ListingProps = {};
export type ListingResponse = {};
export interface ListingAPIPayload extends ListingProps{};
{{/if}}

{{#if detail}}
// Detail
export type DetailProps = {};
export type DetailResponse = {};
export interface DetailAPIPayload extends DetailProps{};
{{/if}}

{{#if create}}
// Create
export type CreateProps = {};
export type CreateResponse = {};
export type CreateMutationPayload = {};
export interface CreateAPIPayload extends CreateProps{
	data: CreateMutationPayload;
};
{{/if}}

{{#if bulk}}
// Bulk
export type BulkCreateProps = {};
export type BulkCreateResponse = {};
export type BulkCreateMutationPayload = {};
export interface BulkCreateAPIPayload extends BulkCreateProps{
	data: BulkCreateMutationPayload;
};
{{/if}}

{{#if update}}
// Update
export type UpdateProps = {};
export type UpdateResponse = {};
export type UpdateMutationPayload =  {};
export interface UpdateAPIPayload extends UpdateProps{
	data: UpdateMutationPayload;
};
{{/if}}

{{#if remove}}
// Remove
export type RemoveProps = {};
export type RemoveResponse = {};
export type RemoveMutationPayload = {};
export interface RemoveAPIPayload extends RemoveProps{
	data: RemoveMutationPayload;
};
{{/if}}

{{#if end}}
}
{{/if}}




