/*
*
* {{ properCase name }} constants
*
*/

export const DEFAULT_ACTION = 'app/{{ properCase name }}/DEFAULT_ACTION';

{{#if wantApi}}
export const FETCH = 'app/{{ properCase name }}/FETCH';
export const FETCH_SUCCESS = 'app/{{ properCase name }}/FETCH_SUCCESS';
export const FETCH_FAILURE = 'app/{{ properCase name }}/FETCH_FAILURE';
{{/if}}