/*
 *
 * {{properCase name }}
 *
 */

import React from 'react';
import PropTypes from 'prop-types';
import { connect } from 'react-redux';

{{#if wantActionsAndReducer}}
import { createStructuredSelector } from 'reselect';
import { compose } from 'redux';

import injectReducer from 'utils/injectReducer';
import injectSaga from 'utils/injectSaga';
import reducer from './reducer';
import saga from './saga';
import makeSelect{{properCase name}} from './selectors';
{{#if wantApi}}
import { fetch } from './actions';
{{/if}}
{{/if}}

export class {{ properCase name }} extends {{{ component }}} {
  render() {
    return this.props.children({
      ...this.props.{{camelCase name}},
    });
  }
}

{{ properCase name }}.propTypes = {
  children: PropTypes.func.isRequired,
  {{camelCase name}}: PropTypes.object.isRequired,
};

{{#if wantActionsAndReducer}}
const mapStateToProps = createStructuredSelector({
  {{camelCase name}}: makeSelect{{properCase name}}(),
});
{{/if}}

function mapDispatchToProps(dispatch) {
  return {
    {{#if wantApi}}
    fetch: (args) => dispatch(fetch(args)),
    {{/if}}
    dispatch,
  };
}

{{#if wantActionsAndReducer}}
const withConnect = connect(
  mapStateToProps,
  mapDispatchToProps,
);
const withReducer = injectReducer({ key: '{{ camelCase name }}', reducer });
const withSaga = injectSaga({ key: '{{ camelCase name }}', saga });

export default compose(
  withConnect,
  withReducer,
  withSaga,
)({{ properCase name }});
{{else}}
export default connect(null, mapDispatchToProps)({{ properCase name }});
{{/if}}
