/**
 *
 * API for {{ properCase name }}
 *
 */


// import peekabooService, { getParams } from 'services/peekaboo';

export function fetch(options) {
//  const params = {
//    ...getParams(options),
//  };

//  return peekabooService({
//    method: 'GET',
//    url: `/api/v5/entity/${entityId}/branch/${branchId}`,
//    params,
//  });
}
