/**
 *
 * {{properCase name }}
 *
 */

import React from 'react';
import PropTypes from 'prop-types';
import { shallowEqual, useSelector, useDispatch } from 'react-redux';
import { createStructuredSelector } from 'reselect';

import { useInjectSaga } from 'utils/injectSaga';
import { useInjectReducer } from 'utils/injectReducer';

import makeSelect{{properCase name}} from './selectors';
import reducer from './reducer';
import saga from './saga';
{{#if wantApi}}
import { fetch } from './actions';
{{/if}}

export function use{{ properCase name }}(props) {
  useInjectReducer({ key: '{{camelCase name}}', reducer });
  useInjectSaga({ key: '{{camelCase name}}', saga });

  const dispatch = useDispatch();
  const store = useSelector(
    createStructuredSelector({
      {{camelCase name}}: makeSelect{{properCase name}}(),
    }),
    shallowEqual,
  );

  return {
    ...store,
    {{#if wantApi}}fetch: () => dispatch(fetch(props)),{{/if}}
  };
}

export function {{ properCase name }}({ children, ...props }) {
  return children({
    ...use{{properCase name}}(props),
  });
}

{{ properCase name }}.propTypes = {
  children: PropTypes.func.isRequired,
};

{{#if memo}}
export default React.memo({{ properCase name }});
{{else}}
export default {{ properCase name }};
{{/if}}