/**
 *
 * API for {{ properCase name }}
 *
 */

import peekabooService from 'services/peekaboo';
import {
  {{properCase name}}APIResponse,
  UpsertPropsPayload,
  Upsert{{properCase name}}APIResponse,
  RemovePropsPayload,
  Remove{{properCase name}}APIResponse,
  FetchAPIPayload,
} from './types';

export function fetch(
  payload: FetchAPIPayload,
): Promise<{{properCase name}}APIResponse | Error> {
  return peekabooService({
    method: 'POST',
    url: '/api',
    body: payload,
  });
}

export function upsert(
  payload: UpsertPropsPayload,
): Promise<Upsert{{properCase name}}APIResponse | Error> {
  return peekabooService({
    method: 'POST',
    url: '/api',
    body: payload,
  });
}

export function remove(
  payload: RemovePropsPayload,
): Promise<Remove{{properCase name}}APIResponse | Error> {
  return peekabooService({
    method: 'POST',
    url: '/api',
    body: payload,
  });
}