/**
 *
 * {{properCase name }}
 *
 */

import React, { useEffect, useMemo } from 'react';
import debounce from 'lodash/debounce';
import { shallowEqual, useSelector, useDispatch } from 'react-redux';
import { useInjectReducer, useInjectSaga } from 'redux-injectors';
import { generateDuxKey } from 'fs-frontend-commons';
import { createStructuredSelector } from 'reselect';
import { {{properCase name }}Props, Use{{properCase name }}Props, {{properCase name }}State } from './types';
import { select{{properCase name }}ByKey } from './selectors';
import { actions, reducer, name as STORE_KEY } from './slice';
import saga from './saga';


const defaultProps = {
  offset: 0,
  limit: 10
}

function getKeyFromProps(props: Use{{properCase name }}Props = {}): string {
  const filteredKeys = Object.keys(props).filter(
    (key) => props[key],
  );

  return generateDuxKey(props, filteredKeys.sort(), true);
}

function debounceFetch(dispatch) {
  return debounce((props) => dispatch(actions.fetch(props)), 500);
}

export function use{{ properCase name }}(props: Use{{properCase name }}Props = {}): {{properCase name }}State {
  useInjectReducer({ key: STORE_KEY, reducer });
  useInjectSaga({ key: STORE_KEY, saga });
  
  const params = { ...defaultProps, ...props };
  const key = getKeyFromProps(params);

  const dispatch = useDispatch();
  const { operations, store } = useSelector(
    createStructuredSelector({
      operations: select{{ properCase name }}ByKey('operations'),
      store: select{{ properCase name }}ByKey(key),
    }),
    shallowEqual,
  );

  const fetchData = useMemo(() => debounceFetch(dispatch), []);

  useEffect(() => {
    if (!store) {
      fetchData({
        ...params,
        key,
      });
    }
  }, [key]);
 
  return {
    ...operations,
    ...store,
    loadMore: store?.count > store?.data?.length,
    reset: () => dispatch(actions.reset()),
    resetOperations: () => dispatch(actions.resetOperations()),
    resetData: () => dispatch(actions.resetData()),
    fetch: () =>
      fetchData({ ...params, offset: store?.data?.length || 0, key }),
    upsert: (args) => dispatch(actions.upsert(args)),
  };
}

export function {{ properCase name }}({ children, ...props }:  {{properCase name }}Props) {
  const store = use{{ properCase name }}(props);
  return store && children ? children(store) : null;
}

export default React.memo({{ properCase name }});
