/**
 *
 * Saga for {{ properCase name }}
 *
 */

import { takeLatest, call, put } from 'redux-saga/effects';

import {
  {{ properCase name }}APIResponse,
  Upsert{{ properCase name }}APIResponse,
  UpsertProps,
  RemoveProps,
  Remove{{ properCase name }}APIResponse,
  FetchProps,
} from './types';
import { actions } from './slice';
import * as api from './api';

export const fetchSaga = function* fetch({
  payload: { key, ...payload },
}: FetchProps) {
  try {
    const resp: {{ properCase name }}APIResponse = yield call(api.fetch, payload);
    yield put(actions.fetchSuccess({ key, data: resp.data }));
  } catch (error) {
    yield put(actions.fetchFailure({ key }));
  }
};

export const upsertSaga = function* upsert(action: UpsertProps) {
  try {
    const resp: Upsert{{ properCase name }}APIResponse = yield call(api.upsert, action.payload);
    yield put(actions.upsertSuccess(resp));
  } catch (error) {
    yield put(actions.upsertFailure(error));
  }
};

export const removeSaga = function* remove(action: RemoveProps) {
  try {
    const resp: Remove{{ properCase name }}APIResponse = yield call(api.remove, action.payload);
    yield put(actions.removeSuccess(resp));
  } catch (error) {
    yield put(actions.removeFailure(error));
  }
};

export default function* {{camelCase name}}Saga() {
  yield takeLatest(actions.fetch.type, fetchSaga);
  yield takeLatest(actions.upsert.type, upsertSaga);
  yield takeLatest(actions.remove.type, removeSaga);
}