import { createSlice, PayloadAction } from '@reduxjs/toolkit';
import {
  FetchPropsPayload,
  ResponsePayload,
  UpsertPropsPayload,
  RemovePropsPayload,
  RemoveResponsePayload,
  UpsertResponsePayload,
  State,
} from './types';

export const initialState = {
  operations: {
    processing: false,
    response: {},
    failure: false,
  },
} as State;

/* eslint-disable default-case, no-param-reassign, @typescript-eslint/no-unused-vars */
const slice = createSlice({
  name: 'app/{{properCase name}}',
  initialState,
  reducers: {
    fetch(state: State, action: PayloadAction<FetchPropsPayload>): void {
      state[action.payload.key] = {
        ...(state[action.payload.key] || {}),
        error: false,
        fetching: true,
      };
    },
    fetchSuccess(state: State, action: PayloadAction<ResponsePayload>): void {
      const prevState = state?.[action.payload.key] || {};

      state[action.payload.key] = {
        ...prevState,
        fetching: false,
        data: 
          prevState?.count > prevState?.data?.length || 0 
          ? prevState?.data?.concat(action.payload?.data?.{{camelCase name}} || [])
          : action.payload?.data?.{{camelCase name}} || [],
        count: action?.payload?.data?.total || 0,
      };
    },
    fetchFailure(state: State, action: PayloadAction<ResponsePayload>): void {
      state[action.payload.key] = {
        ...(state[action.payload.key] || {}),
        error: true,
        fetching: false,
      };
    },
    upsert(
      state: State,
      action: PayloadAction<UpsertPropsPayload>,
    ): void {
      state.operations = {
        ...initialState.operations,
        processing: true,
      };
    },
    upsertSuccess(
      state: State,
      action: PayloadAction<UpsertResponsePayload>,
    ): void {
      state.operations.processing = false;
      state.operations.response = action.payload;
    },
    upsertFailure(
      state: State,
      action: PayloadAction<UpsertResponsePayload>,
    ): void {
      state.operations.processing = false;
      state.operations.failure = true;
    },
    remove(
      state: State,
      action: PayloadAction<RemovePropsPayload>,
    ): void {
      state.operations = {
        ...initialState.operations,
        processing: true
      }
    },
    removeSuccess(
      state: State,
      action: PayloadAction<RemoveResponsePayload>,
    ): void {
      state.operations.processing = false;
      state.operations.response = action.payload;
    },
    removeFailure(
      state: State,
      action: PayloadAction<RemoveResponsePayload>,
    ): void {
      state.operations.processing = false;
      state.operations.failure = true;
    },
    resetData(state: State): State {
      return {
        operations: state.operations,
      } as State;
    },
    resetOperations(state: State): void {
      state.operations = initialState.operations;
    },
    reset(): State {
      return initialState;
    },
  },
});

export const { actions, reducer, name } = slice;
