export type Use{{ properCase name }}Props = {
  limit?: number;
  offset?: number;
};

export interface {{ properCase name }}Props extends Use{{ properCase name }}Props {
  children: (props: any) => any;
}

export interface FetchAPIPayload extends Use{{properCase name}}Props {}

export interface StateItem {
  fetching: boolean;
  error: boolean;
  data: {{properCase name}}APIResponse['data']['{{camelCase name}}'];
  count: {{properCase name}}APIResponse['data']['total'];
}

export interface CRUDOperationsState {
  operations: {
    processing: boolean;
    response: Upsert{{properCase name}}APIResponse | {};
    failure: boolean;
  };
}

export type State = {
  [key: string]: StateItem;
} & CRUDOperationsState;


export interface {{properCase name}}State extends StateItem {
  processing: CRUDOperationsState['operations']['processing'];
  response: CRUDOperationsState['operations']['response'];
  failure: CRUDOperationsState['operations']['failure'];
  loadMore: boolean;
  fetch: () => void;
  upsert: (props: any) => void;
  reset: () => void;
  resetData: () => void;
  resetOperations: () => void;
}

export interface FetchProps {
  type: string;
  payload: FetchPropsPayload;
}

export interface FetchPropsPayload extends Use{{ properCase name }}Props {
  key: string;
}

export interface {{properCase name}}Info {
  name: string;
}

export interface {{properCase name}}ExtendedInfo extends {{properCase name}}Info {
  id: number;
  isActive: boolean;
  createdBy: string | null;
  updatedBy: string | null;
  createdAt: string;
  updatedAt: string;
}

export interface {{properCase name}}APIResponse {
  data: {
    total: number;
    {{camelCase name}}: {{properCase name}}ExtendedInfo[];
  };
}

export interface Upsert{{properCase name}}APIResponse {
  msg: string;
  data: {
    changes: {
      created: number[];
      updated: number[];
      activated: number[];
      deactivated: number[];
      deleted: number[];
    };
  };
}

export type ResponsePayload = {
  key: string;
} & Partial<{{properCase name}}APIResponse>;

export interface UpsertPropsPayload {
  {{camelCase name}}: {{properCase name}}Info[];
}

export interface UpsertProps {
  type: string;
  payload: UpsertPropsPayload;
}

export interface UpsertResponsePayload extends Upsert{{properCase name}}APIResponse {}

export interface RemovePropsPayload {
  id: number
}

export interface RemoveProps {
  type: string;
  payload: RemovePropsPayload;
}

export interface RemoveResponsePayload extends Remove{{properCase name}}APIResponse {}

export interface Remove{{properCase name}}APIResponse {
  data: {
    msg: string;
  }
}