/**
 *
 * {{properCase name }}
 *
 */

import React from 'react';
import PropTypes from 'prop-types';
import { shallowEqual, useSelector, useDispatch } from 'react-redux';
import { createStructuredSelector } from 'reselect';
import { useInjectReducer, useInjectSaga } from 'redux-injector';

import makeSelect{{properCase name}} from './selectors';
import { actions, reducer, STORE_KEY } from './slice';
{{#if wantSaga}}
import saga from './saga';
{{/if}}

export function use{{ properCase name }}(props) {
  useInjectReducer({ key: STORE_KEY, reducer });
  {{#if wantSaga}}
  useInjectSaga({ key: STORE_KEY, saga });
  {{/if}}

  const dispatch = useDispatch();
  const { store } = useSelector(
    createStructuredSelector({
      store: makeSelect{{properCase name}}(),
    }),
    shallowEqual,
  );

  return {
    ...store,
    {{#if wantApi}}fetch: () => dispatch(actions.fetch(props)),{{/if}}
  };
}

export function {{ properCase name }}({ children, ...props }) {
  return children({
    ...use{{properCase name}}(props),
  });
}

{{ properCase name }}.propTypes = {
  children: PropTypes.func.isRequired,
};

{{#if memo}}
export default React.memo({{ properCase name }});
{{else}}
export default {{ properCase name }};
{{/if}}
