/**
 * Test sagas
 */

/* eslint-disable redux-saga/yield-effects */
// import { take, call, put, select } from 'redux-saga/effects';
// import {{ camelCase name }}Saga from '../saga';

// const generator = {{ camelCase name }}Saga();

describe("{{ camelCase name }}Saga Saga", () => {
  it("Expect to have unit tests specified", () => {
    expect(true).toEqual(false);
  });
});
