import { createSlice } from '@reduxjs/toolkit';

export const initialState = {
  fetching: false,
  error: false,
  data: [],
};

/* eslint-disable default-case, no-param-reassign */
const slice = createSlice({
  name: 'app/{{properCase name}}',
  initialState,
  reducers: {
    fetch: (state) => {
      state.fetching = true;
      state.error = false;
    },
    fetchSuccess: (state, action) => {
      state.fetching = false;
      state.error = false;
      state.data = action.payload;
    },
    fetchFailure: (state) => {
      state.fetching = false;
      state.error = true;
    },
  },
});

export const { actions, reducer, name } = slice;