/*
 *
 * {{properCase name }}Page
 *
 */
{{#if wantTS}}
import type { NextPage } from 'next';
{{/if}}

import {{ properCase name }}Screen from 'screens/{{ properCase name }}Screen';

const {{ properCase name }} = (){{#if wantTS}}: NextPage{{/if}} => (
        <{{ properCase name }}Screen />

  );
}
export default {{ properCase name }};
