/*
 * {{ properCase name }}Screen Messages
 *
 * This contains all the text for the {{ properCase name }} Screen.
 */
import { defineMessages } from 'react-intl';

export const scope = 'app.pages.{{ properCase name }}Screen';

export default defineMessages({
  header: {
    id: `${scope}.header`,
    defaultMessage: 'This is the {{ properCase name }} SCreen!',
  },
});
