/*
*
* {{properCase name }}Page
*
*/
{{#if wantHeaders}}
import Head from 'next/head'
{{/if}}

{{#if wantMessages}}
import FormattedMessage from 'theme/FormattedMessage';

import messages from './messages';
{{/if}}
{{#if wantStyle}}
import * as Styled from './Styled';
{{/if}}

{{#if wantTS}}
{{#if wantProps}}
interface I{{properCase name}}Props {}
{{/if}}
{{/if}}

const {{ properCase name }} = ({{#if wantProps}}{...props}{{#if wantTS}}:I{{properCase name}}Props{{/if}}{{/if}}) =>{
return (
<>
  {{#if wantHeaders}}
  <Head>
    <title>{{properCase name}}</title>
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />
  </Head>
  {{/if}}

  {{#if wantMessages}}
  <FormattedMessage {...messages.header} />
  {{/if}}
</>
);
}



export default {{ properCase name }};