// import React from 'react';
// import { shallow } from 'enzyme';

// import  {{ properCase name }}Screen  from '../index';

describe('<{{ properCase name }}Screen />', () => {
  it('Expect to have unit tests specified', () => {
    expect(true).toEqual(false);
  });
});
