/*
 *
 * {{properCase name }}Page
 *
 */
{{#if wantTS}}
import type { NextPage } from 'next';
{{/if}}


const {{ properCase name }} = (){{#if wantTS}}: NextPage{{/if}} => (
  null
  );
}
export default {{ properCase name }};
