/**
 *
 * {{ properCase name }}
 *
 */
{{#if wantMessages}}
import FormattedMessage from 'theme/FormattedMessage';

import messages from './messages';
{{/if}}
{{#if wantStyle}}
import * as Styles from './Styled';
{{/if}}



{{#if wantTS}}
interface I{{properCase name}}Props {
  id: string;
}
{{/if}}

const {{properCase name}} = ({{#if wantProps}}{...props}{{#if wantTS}}: I{{properCase name}}Props{{/if}}{{/if}}) => (
  <>
  {{#if wantMessages}}
    <FormattedMessage {...messages.header} />
  {{/if}}
  </>
);

export default {{ properCase name }};
