/*
*
* {{ properCase name }}Screen
*
*/

import React from 'react';
import { View, Text } from 'react-native';

{{#if wantMessages}}
import FormattedMessage from 'theme/FormattedMessage';
{{/if}}

{{#if wantMessages}}
import messages from './messages';
{{/if}}
{{#if wantStyle}}
// import style from './style';
{{/if}}
import { {{ properCase name }}ScreenProps } from './types';

function {{ properCase name }}Screen(props: {{ properCase name }}ScreenProps) {
  return (
    <View>
      <Text>{{ properCase name }} Screen</Text>
    </View>
  );
}

export default {{ properCase name }}Screen;