/*
 * {{ properCase name }}Screen Messages
 *
 * This contains all the text for the {{ properCase name }}Screen component.
 */

import { defineMessages } from 'react-intl';

export const scope = 'app.screens.{{ properCase name }}Screen';

export default defineMessages({
  header: {
    id: `${scope}.header`,
    defaultMessage: 'This is the {{ properCase name }}Screen screen!',
  },
});
