import { RouteProp } from '@react-navigation/native';
import { StackNavigationProp } from '@react-navigation/stack';
import { RootStackParamList } from 'router/types';

type {{ properCase name }}ScreenRouteProp = RouteProp<RootStackParamList, '{{ properCase name }}'>;

type {{ properCase name }}ScreenNavigationProp = StackNavigationProp<RootStackParamList, '{{ properCase name }}'>;

export type {{ properCase name }}ScreenProps = {
    route: {{ properCase name }}ScreenRouteProp;
    navigation: {{ properCase name }}ScreenNavigationProp;
};