/**
 *
 * API for {{ properCase name }}
 *
 */

// import peekabooService, { getParams } from 'services/peekaboo';
import { {{ properCase name }}APIResponse, FetchPropsPayload } from './types';

export function fetch(payload: FetchPropsPayload): Promise<{{ properCase name }}APIResponse | Error> {
  // const params = {
  //  ...getParams(payload),
  // };
  // return peekabooService({
  //  method: 'GET',
  //  url: `/api`,
  //  params,
  // });
}
