/**
 *
 * {{properCase name }}
 *
 */

import React, { useEffect } from 'react';
import { shallowEqual, useSelector, useDispatch } from 'react-redux';
import { useInjectReducer, useInjectSaga } from 'redux-injectors';
import { generateDuxKey } from 'fs-frontend-commons';

import {  {{properCase name }}Props, Use{{properCase name }}Props, {{#if isKeyBased}}StateItem{{else}}State{{/if}} } from './types';
{{#if isKeyBased}}
import { select{{properCase name }}ByKey } from './selectors';
{{else}}
import makeSelect{{properCase name}} from './selectors';
{{/if}}
import { actions, reducer, name as STORE_KEY } from './slice';
{{#if wantSaga}}
import saga from './saga';
{{/if}}

{{#if isKeyBased}}
function getKeyFromProps(props: Use{{properCase name }}Props): string {
  return generateDuxKey({ props, keys: [] });
}
{{/if}}

export function use{{ properCase name }}(props: Use{{properCase name }}Props): {{#if isKeyBased}}
StateItem{{else}}State{{/if}} {
  useInjectReducer({ key: STORE_KEY, reducer });
  {{#if wantSaga}}
  useInjectSaga({ key: STORE_KEY, saga });
  {{/if}}
  
  {{#if isKeyBased}}
  const key = getKeyFromProps(props);
  {{/if}}
  const dispatch = useDispatch();
  const store = useSelector(
    {{#if isKeyBased}}
    select{{properCase name}}ByKey(key),
    {{else}}
    makeSelect{{properCase name}}(),
    {{/if}}
    shallowEqual,
  );

  {{#if wantApi}}
  useEffect(() => {
    dispatch(
      actions.fetch({
        ...props,
        {{#if isKeyBased}}
        key,
        {{/if}}
      }),
    );
  }, []);
  {{/if}}

  return store;
}

export function {{ properCase name }}({ children, ...props }:  {{properCase name }}Props) {
  const store = use{{ properCase name }}(props);
  return store && children ? children(store) : null;
}

export default React.memo({{ properCase name }});
