/**
 *
 * Saga for {{ properCase name }}
 *
 */

import { takeEvery, call, put } from 'redux-saga/effects';

import { {{ properCase name }}APIResponse, FetchProps } from './types';
import { actions } from './slice';
import * as api from './api';

export const fetchSaga = function* fetch(action: FetchProps) {
  try {
    const data: {{ properCase name }}APIResponse = yield call(api.fetch, action.payload);
    {{#if isKeyBased}}
    yield put(actions.fetchSuccess({ key: action.payload.key, ...data }));
    {{else}}
    yield put(actions.fetchSuccess(data));
    {{/if}}
  } catch (error) {
    {{#if isKeyBased}}
    yield put(actions.fetchFailure({ key: action.payload.key }));
    {{else}}
    yield put(actions.fetchFailure());
    {{/if}}
  }
};

export default function* {{camelCase name}}Saga() {
  yield takeEvery(actions.fetch.type, fetchSaga);
}
