import { createSelector } from 'reselect';
import { initialState, name as STORE_KEY } from './slice';

/**
 * Direct selector to the {{ camelCase name }} state domain
 */

const select{{ properCase name }}Domain = (state) => state[STORE_KEY] || initialState;

/**
 * Default selector used by {{ properCase name }}
 */

const makeSelect{{ properCase name }} = () =>
  createSelector(select{{ properCase name }}Domain, (subState) => subState);

/**
* Other specific selectors
*/

{{#if isKeyBased}}
const select{{ properCase name }}ByKey = (key: string) =>
  createSelector(makeSelect{{ properCase name }}(), (state) => state[key]);
{{/if}}

export default makeSelect{{ properCase name }};
export { select{{ properCase name }}Domain, {{#if isKeyBased}}select{{ properCase name }}ByKey{{/if}} };
