import { createSlice, PayloadAction } from '@reduxjs/toolkit';
import { FetchPropsPayload, ResponsePayload, State } from './types';

{{#if isKeyBased}}
export const initialState = {} as State;
{{else}}
export const initialState = {
  fetching: false,
  error: false,
  data: [],
  count: 0,
} as State;
{{/if}}

/* eslint-disable default-case, no-param-reassign */
const slice = createSlice({
  name: 'app/{{properCase name}}',
  initialState,
  reducers: {
  {{#if isKeyBased}}
    fetch(state: State, action: PayloadAction<FetchPropsPayload>): void {
      state = {
        [action.payload.key]: {
          ...(state[action.payload.key] || {}),
          error: false,
          fetching: true,
        },
      };
    },
    fetchSuccess(state: State, action: PayloadAction<ResponsePayload>): void {
      state[action.payload.key] = {
        ...(state[action.payload.key] || {}),
        fetching: false,
        data: action.payload.data,
        count: action.payload.count,
      };
    },
    fetchFailure(state: State, action: PayloadAction<ResponsePayload>): void {
      state[action.payload.key] = {
        ...(state[action.payload.key] || {}),
        error: true,
        fetching: false,
      };
    },
  {{else}}
    // eslint-disable-next-line no-unused-vars
    fetch(state: State, action: PayloadAction<FetchPropsPayload>): void {
      state.fetching = true;
      state.error = false;
    },
    fetchSuccess(state: State, action: PayloadAction<ResponsePayload>): void {
      state.fetching = false;
      state.error = false;
      state.data = action.payload.data;
      state.count = action.payload.count;
    },
    fetchFailure(state: State): void {
      state.fetching = false;
      state.error = true;
    },
  {{/if}}
  },
});

export const { actions, reducer, name } = slice;
