export type Use{{ properCase name }}Props = {
  city: string;
  country: string;
  type: string;
  limit?: number;
  offset?: number;
};

export interface {{ properCase name }}Props extends Use{{ properCase name }}Props {
  children: (props: any) => any;
}

{{#if isKeyBased}}
export interface StateItem {
  fetching: boolean;
  error: boolean;
  data: ResponsePayload['data'];
  count: ResponsePayload['count'];
}

export interface State {
  [key: string]: StateItem;
}
{{else}}
export interface State {
  fetching: boolean;
  error: boolean;
  data: ResponsePayload['data'];
  count: ResponsePayload['count'];
}
{{/if}}

export interface FetchProps {
  type: string;
  payload: FetchPropsPayload;
}

export interface FetchPropsPayload extends Use{{ properCase name }}Props {
  {{#if isKeyBased}}
  key: string;
  {{/if}}
}

export interface {{ properCase name }}APIResponse {
  count?: number | string;
  data?: {
    id: string | number;
    name: string;
  }[];
}

export interface ResponsePayload extends {{ properCase name }}APIResponse {
  key?: string;
}