/*
 *
 * {{properCase name }}Page
 *
 */

import React from 'react';
// import PropTypes from 'prop-types';
{{#if wantHeaders}}
import Helmet from 'react-helmet';
{{/if}}
{{#if wantMessages}}
import FormattedMessage from 'components/FormattedMessage';
import messages from './messages';
{{/if}}
{{#if wantStyle}}
import * as Styled from './Styled';
{{/if}}

function {{ properCase name }}(/* pageProps */) {
  return (
    <React.Fragment>
      {{#if wantHeaders}}
      <Helmet
        title="{{properCase name}}"
        meta={{curly true}}[{{curly true}}
          name: 'description',
          content: 'Description of {{properCase name}}',
        {{curly}}]{{curly}}
      />
      {{/if}}
      {{#if wantMessages}}
      <FormattedMessage {...messages.header} />
      {{/if}}
    </React.Fragment>
  );
}

// {{ properCase name }}.propTypes = {
//  location: PropTypes.shape({
//    pathname: PropTypes.string.isRequired,
//  })
//  history: PropTypes.shape({
//    push: PropTypes.func.isRequired,
//    goBack: PropTypes.func.isRequired,
//    replace: PropTypes.func.isRequired,
//  })
// }

export default React.memo({{ properCase name }});
