/*
 *
 * {{properCase name }}
 *
 */

import React from 'react';
import { View } from 'react-native';
import PropTypes from 'prop-types';

import Screen from 'components/Screen';
{{#if wantMessages}}
import FormattedMessage from 'components/FormattedMessage';
{{/if}}

{{#if wantMessages}}
import messages from './messages';
{{/if}}
{{#if wantStyle}}
// import style from './style';
{{/if}}

function {{ properCase name }}(screenProps) {
  return (
    <Screen
      navigation={screenProps.navigation}
      title={(titleProps) => (
        <FormattedMessage {...messages.header} {...titleProps} />
      )}
    >
      <View />
    </Screen>
  );
}

{{ properCase name }}.propTypes = {
  navigation: PropTypes.object.isRequired,
};

export default ({{ properCase name }};
