/**
 *
 * Styles for {{ properCase name }} Screen
 *
 */

import { StyleSheet } from 'react-native';

// import Colors from 'theme/Colors';
// import Dimensions from 'theme/Dimensions';


const style = StyleSheet.create({
  container: {
    flex: 1,
  }
});

export default style;
