// import React from 'react';
// import renderer from 'react-test-renderer';
// import { {{ properCase name }} } from '../index';

describe('<{{ properCase name }} />', () => {
  it('Expect to have unit tests specified', () => {
    expect(false).toEqual(false);
  });
});
